@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

table {
  table-layout: fixed;
}

form {
  display: flex;
  flex-flow: row wrap;
}

input {
  max-width: 150px;
}

th {
  background-color: steelblue;
  text-align: center;
  padding: 8px;

}
tr:hover {
  background-color: rgb(208,220,227);
}
td {
  text-align: center;
  padding: 8px;
}
.td-number {
  text-align: right;
  padding: 0;
  padding: 5px 10px;
}
.td-spent {
  color: steelblue;
  text-decoration: underline;
  cursor: pointer;
}
.td-delete {
  cursor: pointer;
}
.td-spent table {
  color: black;
  text-decoration: none;
  margin: 12px 0 0 0;
  width: 525%;
  transform: translate(-41%);
  cursor: default;
}

.tr-even {
  background-color: white;
}

.tr-odd {
  background-color: rgb(161, 184, 199);
  
}
#budget {
  float: right;
}

/* Authentication, Transaction form, Header, everything except the budget table... */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

a {
  text-decoration: unset;
  color: #49b5e7;
}

button, input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 1em 0; 
}
/* general */

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.form-button {
  margin: 0.75px;
  padding: 0.3rem 0.5rem;
  border: 1px solid #386980;
  background-color: steelblue;
  border-radius: 5px;
  color: whitesmoke;
  font-size: .9rem;
}

#submit-input {
  margin: 0.75px;
  padding: 0.3rem 0.5rem;
  border: 1px solid #386980;
  background-color: steelblue;
  border-radius: 5px;
  color: whitesmoke;
  font-size: .9rem;
}

#login-redirect-link {
  font-size: 2.2rem;
}

/* Header */

#Header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: steelblue;
}

#Header .title {
  margin: 0;
  padding: 0 1rem;
  color: whitesmoke;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  font-weight: 175;
  text-decoration: unset;
}

#Header .authOptions {
  height: 100%;
  display: flex;
}

#Header .authOptions button {
  padding: 0 1rem;
  background-color: slategrey;
  color: whitesmoke;
  font-size: 1.5rem;
}

#Header .authOptions button:hover {
  background-color: rgb(191, 209, 226);
}

#Header .authOptions button:hover {
  background-color: rgb(191, 209, 226);
}
/* transaction form */
#transaction-form {
  display: block;
}
/* form */
.form-auth label, .form-auth input {
  display: block;
  margin: 0px auto;
  max-width: 900px;
}

.form-auth input {
  margin-bottom: 1rem;
}

.form-auth label {
  margin-bottom: 0.2rem;
}
.form-auth input[type="text"],
.form-auth input[type="email"],
.form-auth input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #a9bfc9;
  border-radius: 6px;
  background-color: #d2d9dc;
  font-size: 1.1.rem;
}

.form-auth input:focus {
  border: 1px solid #49b5e7;
  box-shadow: inset 0px 0px 5px #6aaac7;
  outline: none;
}

.form-auth input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #386980;
  background-color: #4985a0;
  border-radius: 6px;
  color: whitesmoke;
  font-size: 1.5rem;
}

/* error notice */
.error-message {
  max-width: 900px;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-message button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}


/* @media screen and (max-width: 480px) {
  #Header .title {

  }
} */
